.client {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 0;
  background: var(--card-background-color);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.client-info {
  flex-grow: 1;
  margin-left: 16px;
}

.client .name {
  font-weight: 500;
  color: var(--primary-text-color);
}

.client .channel {
  font-size: 0.8em;
  color: var(--secondary-text-color);
}

.error {
  color: var(--error-color);
  padding: 16px;
  text-align: center;
}
